/*  modal / editMask */

#waitingIcon{
  width: 100px;
  height: 100px;
  animation: flip 1s linear infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }

}

.bodyModal{
  overflow: hidden;
}

.hiddener{
  opacity: 0 !important;
  display: none !important;
}

#modalContainer{
  width: 100%;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
  background-color: rgba(0,0,0,0.5);
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 200;
  
  opacity: 1;
  backdrop-filter: blur(10px);
  transition: 1s all;
}

#editMask{
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 30px 1fr 30px;

}

#editTitle{
  
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  line-height: 1.4rem;
  border-bottom: 1px solid #CCC;

  height: auto;

}


#editForm{
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px;
}

#editActions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  place-content: center center;
}

.action-button, .service-button{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
  background-color: var(--secondary-color);
  color: #FFF;
  display: grid;
  place-content: center center;
  font-size: 0.9rem;

}

.action-button{
  background-color: var(--primary-color);
  color: #FFF;
  font-weight: 700;
}

#editForm input, #editForm select {
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;

  font-size: 1.1rem;
}

#toaster{
  position: fixed;
  
  top: 10px;
  right: 10px;

  z-index: 2000;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-columns: 30px 1fr;
  border-radius: 5px;

  min-width:300px;
  min-height: 40px;

  background-color: var(--secondary-color);
  box-shadow: 2px 2px 2px var(--dark-color);
  place-items: center start;
  font-size: 1.1rem;
  padding: 10px;

  transition: 0.5s all ;
}

.success{

  background-color: var(--success-color) !important;
  color: #FFF;
  padding: 10px;
  
}


.failed{
  background-color: var(--danger-color) !important;
  color: #FFF;
}

/*  contenitore dell'applicazione  */

#appContainer{
  height: 100vh;
  display:grid;
  grid-template-rows: 50px auto 50px;
  overflow: auto;

}


/*  header  */

#header{
  display: grid;
  grid-template-columns: 30px auto auto 1fr;

  gap: 10px;
  place-items: start center;

  line-height: 16px;
  font-size: 14px;

  padding: 5px 5px;
  height: 50px;
  
}



#header img{
  width: 30px;
  height: 30px;
}

#header .username{
  font-size: 1.2rem;
}

#header .username small{
  font-size: .6rem;
  line-height: .6rem;
  color: var(--secondary-color);
}

#header .filler{
  text-align:right;
  width: 100%;
}

#logout{
  cursor: pointer;
}

.stop{
  overflow: hidden;
}



/*  main table / data container */

#theTable{
  width: 100%;
  margin:auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat( 7, auto );
  /**/gap: 1px;
  overflow-y: auto;
  margin-top: 0px;

  height: calc( 100vh - 100px );
}

.sorter{
  cursor: pointer;
  user-select: none
}


.filterField{
  position: absolute;
  width: 200px;
  top:30px;
  right: 0px;
  display: grid;
  background-color: var(--info-color);
  color: var(--light-color);
  padding: 10px;
  gap: 5px;
  border-radius: 3px;
  background-color: var(--head-color);
}


.headField{
  display: grid;
  grid-template-columns: 1fr 20px 20px;
  padding: 5px;
  background-color: var( --head-color );
  color: var( --light-color );
  gap: 5px;

  border-top: 1px solid var( --dark-color );
  position:sticky;
  top:0px;
  z-index: 100;

  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}


.commonField{
  padding: 10px;
  transition: 0.5s background-color;  
  height: 40px;

}

.commonField:hover{
  background: var( --secondary-color );
  color: #FFF;
}



.sorter{
  text-align:right;
}

.actions{
  text-align: right;
  display: grid;
  grid-auto-flow: column;
  gap:10px;
  place-items: center center
}

.action-icon{
  cursor:pointer;
  transition: 0.5s all;
  width: 20px;
  height: 20px;
  border: 0px none;
  background-color: transparent;
  
}


.backgroundRow{
  background-color: #6662;
}


#navibar{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;

  gap: 10px;

  color: #FFF;
  font-weight: 500;

  background-color: var(--secondary-color);
  user-select: none;
}

#navibar a, #navibar a:visited{
  text-decoration: underline;
  color:#CCC;
}

#navibar a:hover{
  color:#FFF;
}
#navibar #elementipp{
  text-align:right;
  width:100%;
}


#totale{
  display: grid;
  grid-auto-flow: column;
  place-items: center center;


}




@media(max-width: 600px){

  #appContainer{
    height: 100vh;
    display:grid;
    grid-template-rows: auto auto auto;
  }

  #header{
    grid-template-columns: 30px auto 30px;
    padding: 5px;

    background-color: var(--secondary-color);
    color: #FFF;

    height: 50px;
  }

  #header .username{
    display: none;
  }

  #header .title{
    width: calc( 100% - 80px );
    place-self: center center;
    font-weight: 700;
    font-size: 1.2rem; 
    line-height: 1.2rem;
  }

  #header .filler{
    width: 40px;
    place-content: center center;
    font-weight: 700;
    font-size: 1.2rem;  
  }
  

  .hiddenXs{
    display:none;
  }


  #theTable{
    grid-template-columns: repeat( 5, auto );
  }

  .headField{
    font-size: 0.6rem;
    font-weight: 500;
  }

}